<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
		
	<http pattern="/rest/**" create-session="never">
		<intercept-url pattern="/**" access="hasRole('EMPLOYER')" />
		<http-basic />
	</http>
	<http>
		<intercept-url pattern="/login.jsp" access="hasRole('ANONYMOUS')" />
		<intercept-url pattern="/index.jsp" access="hasRole('EMPLOYEE') or hasRole('EMPLOYER')" />
		<form-login login-page="/login.jsp" default-target-url="/index.jsp"
			always-use-default-target="true" />
		<logout />
		<remember-me />
		<csrf disabled="true" />
	</http>
		
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="jan" password="passwort" authorities="ROLE_EMPLOYER" />
				<user name="naj" password="passwort" authorities="ROLE_EMPLOYEE" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>